<div fxLayout="column" fxLayoutGap="10px">
    <div class="pb-3" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
        <h4 class="m-t-5 text-khmer-bold">ក្រសួងពាណិជ្ជកម្ម</h4>
        <a *ngIf="!moc" (click)="onAddMoc($event)" class="cursor-pointer link">
            បញ្ចូលពត៌មាន
        </a>
        <a *ngIf="moc" (click)="onEditMoc($event)" class="cursor-pointer link">
            កែប្រែពត៌មាន
        </a>
    </div>

    <div fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex="40" fxLayoutAlign="start" fxLayoutGap="18px">
            <h6>ចុះបញ្ជីពាណិជ្ជកម្មលេខ :</h6>
            <h6>ចុះថ្ងៃទី :</h6>
            <h6>ដើមទុនចុះបញ្ជី :</h6>
            <h6>ប្រភេទ :</h6>
            <h6>ថ្ងៃខែតម្កល់ប្រតិវេទប្រចាំឆ្នាំ :</h6>
            <h6>ឈ្មោះប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</h6>
            <h6>លេខកូដប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</h6>
        </div>
        <div *ngIf="moc" fxLayout="column" fxFlex="60" fxLayoutAlign="start" fxLayoutGap="16px">
            <h5>{{ moc.mocNumber }}</h5>
            <h5>{{ notedDate }}</h5>
            <h5>{{ moc.capital | number }} <strong>រៀល</strong></h5>
            <h5>{{ companyTypeInKhmer[moc.companyType] }}</h5>
            <h5>{{ annualTranscriptMaintenanceDate }}</h5>
            <h5>{{ moc.mocUsernameLogin }}</h5>
            <h5>{{ moc.mocPasswordLogin }}</h5>
        </div>

        <div *ngIf="!moc" fxLayout="column" fxFlex="30" fxLayoutAlign="start" fxLayoutGap="16px">
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
        </div>
    </div>
</div>
