<div fxLayout="column" fxLayoutGap="10px">
    <div class="pb-3" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
        <h4 class="m-t-5 text-khmer-bold">ក្រសួងពាណិជ្ជកម្ម</h4>
        <a (click)="onAddMoc($event)" class="cursor-pointer link">
            បញ្ចូលពត៌មាន
        </a>
    </div>

    <div *ngIf="moc" fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="start" fxLayoutGap="18px">
            <h6>ឈ្មោះប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</h6>
            <h6>លេខកូដសម្ងាត់ :</h6>
            <h6>ចុះបញ្ជីពាណិជ្ជកម្មលេខ :</h6>
            <h6>ចុះថ្ងៃទី :</h6>
            <h6>ដើមទុនចុះបញ្ជី :</h6>
            <h6>ប្រភេទ :</h6>
            <h6>ថ្ងៃខែតម្កល់ប្រតិវេទប្រចាំឆ្នាំ :</h6>
        </div>
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="start" fxLayoutGap="18px">
            <h5>{{ moc.mocUsernameLogin }}</h5>
            <h5>{{ moc.mocPasswordLogin }}</h5>
            <h5>{{ moc.mocNumber }}</h5>
            <h5>{{ moc.notedDate}}</h5>
            <h5>{{ moc.capital }} <strong>រៀល</strong></h5>
            <h5>{{ moc.type }}</h5>
            <h5>{{ moc.dateOfBTV ? moc.dateOfBTV : '?'}}</h5>
        </div>

        <div fxLayout="column" fxFlex="50" fxLayoutAlign="start" fxLayoutGap="20px">
            <h6 fxFlex="30">ទាញយកឯកសារជា PDF :</h6>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column" fxLayoutGap="20px">
                    <h6>
                        1. <a (click)="downloadMocCertificate()" class="link cursor-pointer">{{ 'MOC Certificate/វិញ្ញាបនប័ត្រចុះបញ្ជីពាណិជ្ជកម្ម' }}</a>
                    </h6>
                    <div *ngIf="!moc_certificate">
                        <app-uploader
                            [allowedContentTypes]="['application/pdf']"
                            (hasCompleted)="uploadedCompletedMocCertificate($event)"
                            (loading)="onLoading($event)">
                        </app-uploader>
                    </div>
                    <div *ngIf="moc_certificate">
                        <pdf-viewer [src]="moc_certificate"
                          [fit-to-page]="true"
                          [show-all]="false"
                          [original-size]="false"
                          [autoresize]="true"
                          [show-borders]="true"
                          style="display: block;">
                        </pdf-viewer>
                    </div>
                    <!-- <div *ngIf="moc_certificate">
                        <button class="mr-2" [disabled]="isFetching" mat-raised-button color="warn" (click)="cancelMocCertificate()">
                            Cancel
                        </button>
                        <button [disabled]="isUploading" color="primary" mat-raised-button (click)="uploadMocCertificateToCompany()">
                            Save
                        </button>
                    </div> -->
                </div>
                <div fxLayout="column" fxLayoutGap="20px">
                    <h6>
                        2. <a (click)="downloadBusinessExtract()" class="link cursor-pointer">{{ 'Business Extract File/សម្រង់ក្រុមហ៊ុន' }}</a>
                    </h6>
                    <div *ngIf="!business_extract">
                        <app-uploader
                            [allowedContentTypes]="['application/pdf']"
                            (hasCompleted)="uploadedCompletedBusinessExtract($event)"
                            (loading)="onLoading($event)">
                        </app-uploader>
                    </div>
                    <div *ngIf="business_extract">
                        <pdf-viewer [src]="business_extract"
                          [fit-to-page]="true"
                          [show-all]="false"
                          [original-size]="false"
                          [autoresize]="true"
                          [show-borders]="true"
                          style="display: block;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!moc" fxLayout="row">
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="start" fxLayoutGap="10px">
            <h6>ឈ្មោះប្រើប្រាស់ប្រព័ន្ធពាណិជ្ជកម្ម :</h6>
            <h6>លេខកូដសម្ងាត់ :</h6>
            <h6>ចុះបញ្ជីពាណិជ្ជកម្មលេខ :</h6>
            <h6>ចុះថ្ងៃទី :</h6>
            <h6>ដើមទុនចុះបញ្ជី :</h6>
            <h6>ប្រភេទ :</h6>
            <h6>ថ្ងៃខែតម្កល់ប្រតិវេទប្រចាំឆ្នាំ :</h6>
            <h6 fxFlex="30">ទាញយកឯកសារជា PDF :</h6>
        </div>
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
        </div>
    </div>
</div>
