<div class="mt-2 ml-3">
    <table class="simple w-100-p text-center">
        <thead>
            <tr fxLayout="row" fxLayoutAlign="start center">
                <th fxFlex="20">
                    <h4>
                        ឆ្នាំ
                    </h4>
                </th>
                <th fxFlex="16">
                    <h4>
                        {{ (currentDate | date: 'yyyy') - 1 }}
                    </h4>
                </th>
                <th fxFlex="16">
                    <h4>
                        {{ (currentDate | date: 'yyyy') - 2 }}
                    </h4>
                </th>
                <th fxFlex="16">
                    <h4>
                        {{ (currentDate | date: 'yyyy') - 3 }}
                    </h4>
                </th>
                <th fxFlex="16">
                    <h4>
                        {{ (currentDate | date: 'yyyy') - 4 }}
                    </h4>
                </th>
                <th fxFlex="16" class="no-border">
                    <h4>
                        {{ (currentDate | date: 'yyyy') - 5 }}
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="taxPerYears.length > 0">
                <tr fxLayoutAlign="start center">
                    <td fxFlex="20">
                        <h5>
                            ប្រាក់ពន្ធបានបង់
                        </h5>
                    </td>
                    <td *ngFor="let item of taxPerYears; let lastIndex = last" 
                        (click)="onRowClick(item.year)"
                        fxFlex="16"
                        [ngClass]="lastIndex ? 'no-border' : ''">
                        <h5>
                            {{ item.taxPaidAmount }}
                        </h5>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
