table {
    &.simple {
        max-width: 1000px;
        border: 1px solid #000000;

        h5, h4 {
            margin: 0;
        }

        thead {
            tr {
                height: 50px;
                border-bottom: 1px solid #000000;
                background-color: #3069bb;

                th {
                    border-right: 1px solid #000000;
                }
            }
        }
        tbody {
            tr {
                height: 44px;

                &:hover {
                    background-color: #eef5f9;
                }

                td {
                    height: 26px;
                    padding-top: 5px;
                    border-right: 1px solid #000000;
                }
            }
        }
    }
}
