<div class="mt-2 ml-3">
    <table class="simple w-100-p text-center">
        <thead>
            <tr fxLayout="row" fxLayoutAlign="start center">
                <th fxFlex="20" class="text-white">
                    <h5>
                        Year
                    </h5>
                </th>
                <th fxFlex="16" class="text-white">
                    <h5>
                        {{ (currentDate | date: 'yyyy') - 1 }}
                    </h5>
                </th>
                <th fxFlex="16" class="text-white">
                    <h5>
                        {{ (currentDate | date: 'yyyy') - 2 }}
                    </h5>
                </th>
                <th fxFlex="16" class="text-white">
                    <h5>
                        {{ (currentDate | date: 'yyyy') - 3 }}
                    </h5>
                </th>
                <th fxFlex="16" class="text-white">
                    <h5>
                        {{ (currentDate | date: 'yyyy') - 4 }}
                    </h5>
                </th>
                <th fxFlex="16" class="no-border text-white">
                    <h5>
                        {{ (currentDate | date: 'yyyy') - 5 }}
                    </h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="taxPerYears.length > 0">
                <tr class="cursor-pointer" fxLayoutAlign="start center" (click)="onRowClick()">
                    <td fxFlex="20">
                        <h5>
                            Taxes paid (៛)
                        </h5>
                    </td>
                    <td *ngFor="let item of taxPerYears; let lastIndex = last" 
                        fxFlex="16"
                        [ngClass]="lastIndex ? 'no-border' : ''">
                        <h5>
                            {{ item.taxPaidAmount }}
                        </h5>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
