.request-card {
    width: 350px;
    height: 260px;
    background-color: #172740;

    .mat-card-header {
        background-color: #3069bb;
        height: 76px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 4px;
    }

    .accepted {
        background-color: green;
    }

    .rejected {
        background-color: #CC0000;
    }

    mat-card-content {
        padding-bottom: 10px !important;
    }

    .accept {
        color: #fff;
    }
    
    .reject {
        color: #CC0000;
    }

    .date-text {
        font-size: small;
    }
}
