<mat-card class="request-card" fxLayout="column" fxLayoutAlign="start none">
    <div *ngIf="request && request.status === 'pending'" class="bg-warning mat-card-header p-b-5" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxFlex fxLayoutAlign="start">
            <h5 class="khmer-title text-bold">{{ request.company.nameInKhmer }}</h5>
            <h5 class="text-bold m-0">{{ request.company.name }}</h5>
        </div>
    </div>
    <!-- status !== 'pending' -->
    <div *ngIf="request && request.status !== 'pending'" class="mat-card-header p-b-5" [ngClass]="request.status === 'accepted' ? 'bg-primary' : 'bg-danger'" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxFlex fxLayoutAlign="start">
            <h5 class="khmer-title text-bold">{{ request.company.nameInKhmer }}</h5>
            <h5 class="text-bold m-0">{{ request.company.name }}</h5>
        </div>
    </div>

    <mat-card-content fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
        <div *ngIf="request" class="text-white" fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="10px">
            <h6 class="mb-4">{{ request.description }}</h6>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between end">
            <span *ngIf="request.status === 'pending'" class="text-white date-text">date: {{ request.createdAt | date }}</span>
            <span *ngIf="request.status !== 'pending'" class="text-white date-text"> {{ request.status === 'accepted' ? 'acceptedAt:' : 'rejectedAt:' }} {{ (request.updatedAt ? request.updatedAt : request.createdAt) | date }}</span>
            <div *ngIf="request.status === 'pending'" fxFlex fxLayout="row" fxLayoutAlign="end end">
                <button class="mr-2" color="warn"  mat-raised-button (click)="rejectRequest($event)">
                    reject
                </button>
                <button color="primary" mat-raised-button (click)="acceptRequest($event)">
                    accept
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
