.header {
    height: 200px;
    background-color: #3069bb;
}

.mat-tab-label  {
    font-size: 16px;
}

.mat-tab-body-wrapper {
    background: transparent;
    padding: 20px;
    padding-top: 30px;
}

// .mat-tab-label-active {
//     background-color: #172740 !important;
// }

.mat-tab-body-content {
    background-color: transparent !important;
}