<div *ngIf="isFetching">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<mat-card *ngIf="!isFetching && company" class="mat-card h-100-p" fxLayout="column" fxLayoutAlign="start">
        <div class="header mat-card-header text-center" fxLayout="column" fxLayoutAlign="center">
            <h1>{{ company.nameInKhmer }}</h1>
            <h1>{{ company.name }}</h1>
        </div>
        <div>
            <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    Detail
                  </ng-template>
                  <app-general [user]="company.user"></app-general>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    Obligation
                  </ng-template>
                  <h1>Terrible sushi restaurants</h1>
                </mat-tab>
              </mat-tab-group>
        </div>
</mat-card>
