<div *ngIf="isFetching">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<mat-card *ngIf="!isFetching && company" class="h-100-p" fxLayout="column" fxLayoutAlign="start">
  <div class="header mat-card-header text-center" fxLayout="column" fxLayoutAlign="center">
    <h1>{{ company.nameInKhmer }}</h1>
    <h1>{{ company.name }}</h1>
  </div>
</mat-card>

<mat-card *ngIf="!isFetching && company">
  <div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          ពត៌មានទូទៅ
        </ng-template>
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="30px">
          <app-general [user]="company.user"></app-general>
          <!-- Minstry of Commerce -->
          <div fxLayout="row" fxLayoutAlign="start">
            <app-moc fxFlex="50" (addMoc)="onAddMoc(event)" (editMoc)="onEditMoc(event)" [moc]="company.MOC">
            </app-moc>
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="start" fxLayoutGap="20px">
              <h6>ឯកសារជា PDF :</h6>
              <div *ngIf="company" fxLayout="row" fxLayoutAlign="space-between">
                <moc-certificate-uploader [company]="company"></moc-certificate-uploader>
                <business-extract-uploader [company]="company"></business-extract-uploader>
              </div>
            </div>
          </div>

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          កាតព្វកិច្ចក្រុមហ៊ុន
        </ng-template>
        <h1>Terrible sushi restaurants</h1>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>