<div *ngIf="isFetching">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>
<!-- filter -->
<div class="mt-3 ml-3">
    <div>
        <span class="span">
            Filter by request status
        </span>
        <!-- <mat-icon>filter_list</mat-icon> -->
    </div>
    <h5>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="pending">
            <mat-button-toggle (click)="filterRequestByStatus('pending')" value="pending">Pending</mat-button-toggle>
            <mat-button-toggle (click)="filterRequestByStatus('accepted')" value="accepted">Accepted</mat-button-toggle>
            <mat-button-toggle (click)="filterRequestByStatus('rejected')" value="rejected">Rejected</mat-button-toggle>
        </mat-button-toggle-group>
    </h5>
</div>
<!-- search input -->
<div class="ml-3 search-wrapper">
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Search by company name</mat-label>
            <input type="text"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-icon matSuffix>search</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </form>
</div>
<!-- grid request -->
<div *ngIf="!isFetching && requestsFiltered.length > 0" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="20px">
    <div *ngFor="let request of requestsFiltered">
        <div>
            <request-card
                (accept)="onAcceptRequest($event)"
                (reject)="rejectRequest($event)"
                [request]="request">
            </request-card>
        </div>
    </div>
</div>

<div *ngIf="!isFetching && requestsFiltered.length === 0">
    <h2>There is no any request</h2>
</div>
