<div class="mt-2 ml-3">
    <table class="simple w-100-p text-center">
        <thead>
            <tr fxLayout="row" fxLayoutAlign="start center">
                <th fxFlex="20">
                    <h5 class="text-white">
                        Month
                    </h5>
                </th>
                <th fxFlex="20">
                    <h5 class="text-white">
                        Revenue (៛)
                    </h5>
                </th>
                <th fxFlex="20">
                    <h5 class="text-white">
                        Expense (៛)
                    </h5>
                </th>
                <th fxFlex="20">
                    <h5 class="text-white">
                        Taxes paid (៛)
                    </h5>
                </th>
                <th fxFlex="15">
                    <h5 class="text-white">
                        Ohters
                    </h5>
                </th>
                <th fxFlex="5" class="no-border">
                </th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="taxPerMonths.length > 0">
                <tr *ngFor="let item of taxPerMonths; let lastIndex = last; let index = index"
                    fxLayout="row" (click)="onRowClick(index)"
                    class="cursor-pointer"
                    [ngClass]="lastIndex ? 'no-border' : ''"
                    fxLayoutAlign="start center">
                    <td fxFlex="20">
                        <h5>
                            {{ monthArray[item.month - 1] }}
                        </h5>
                    </td>
                    <td fxFlex="20">
                        <h5>
                            {{ item.revenue | number }}
                        </h5>
                    </td>
                    <td fxFlex="20">
                        <h5>
                            {{ item.spending | number }}
                        </h5>
                    </td>
                    <td fxFlex="20">
                        <h5>
                            {{ item.taxPaidAmount | number }}
                        </h5>
                    </td>
                    <td fxFlex="15">
                        <h5>
                            {{ item.others ? item.others : '' }}
                        </h5>
                    </td>
                    <td fxFlex="5" class="no-border" (click)="$event.stopPropagation()">
                        <h5 *ngIf="item.revenue">
                            <mat-icon (click)="removeTax(index)" class="delete-icon">delete</mat-icon>
                        </h5>
                        <h5 *ngIf="!item.revenue">
                            <mat-icon *ngIf="currentMonth >= item.month" (click)="addNewRow(index)">add_circle</mat-icon>
                        </h5>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
