<div class="mt-2 ml-3">
    <table class="simple w-100-p text-center">
        <thead>
            <tr fxLayout="row" fxLayoutAlign="start center">
                <th fxFlex="20">
                    <h4>
                        ខែ
                    </h4>
                </th>
                <th fxFlex="20">
                    <h4>
                        ចំណូល (រៀល)
                    </h4>
                </th>
                <th fxFlex="20">
                    <h4>
                        ចំណាយ (រៀល)
                    </h4>
                </th>
                <th fxFlex="20">
                    <h4>
                        ប្រាក់ពន្ធបានបង់ (រៀល)
                    </h4>
                </th>
                <th fxFlex="20" class="no-border">
                    <h4>
                        ផ្សេងៗ
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="taxPerMonths.length > 0">
                <tr *ngFor="let item of taxPerMonths; let lastIndex = last; let index = index"
                    fxLayout="row" (click)="onRowClick(index)"
                    class="cursor-pointer"
                    [ngClass]="lastIndex ? 'no-border' : ''"
                    fxLayoutAlign="start center">
                    <td fxFlex="20">
                        <h5>
                            {{ monthArray[item.month - 1] }}
                        </h5>
                    </td>
                    <td fxFlex="20">
                        <h5>
                            {{ item.revenue | number }}
                        </h5>
                    </td>
                    <td fxFlex="20">
                        <h5>
                            {{ item.spending | number }}
                        </h5>
                    </td>
                    <td fxFlex="20">
                        <h5>
                            {{ item.taxPaidAmount | number }}
                        </h5>
                    </td>
                    <td fxFlex="20" class="no-border">
                        <h5>
                            {{ item.others ? item.others : '' }}
                        </h5>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
