<div fxLayout="column" fxLayoutGap="10px">
    <div class="pb-3" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
        <h3 class="m-t-5 text-khmer-bold">General Department of Taxation</h3>
        <a *ngIf="!dot" (click)="onAddDot($event)" class="cursor-pointer link">
            Add information
        </a>
        <a *ngIf="dot" (click)="onEditDot($event)" class="cursor-pointer link">
            Update information
        </a>
    </div>

    <div fxLayout="row" fxFlex="100">
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="start" fxLayoutGap="18px">
            <h6>Fiscal identification Number :</h6>
            <h6>Registration date :</h6>
            <h6>Registration at :</h6>
            <h6>address :</h6>
            <h6>Bank name :</h6>
            <h6>Bank account name :</h6>
            <h6>Bank account number :</h6>
            <h6>Tax card number :</h6>
            <h6>Phonenumber :</h6>
        </div>
        <div *ngIf="dot" fxLayout="column" fxFlex="30" fxLayoutAlign="start" fxLayoutGap="16px">
            <h5>{{ dot.dotNumber }}</h5>
            <h5>{{ moment(dot.notedDate).format('DD-MM-YYYY') }}</h5>
            <h5>{{ dot.notedAtBranch }}</h5>
            <h5>{{ dot.address }}</h5>
            <h5>{{ dot.bankName }}</h5>
            <h5>{{ dot.bankAccountName }}</h5>
            <h5>{{ dot.bankAccountNumber }}</h5>
            <h5>{{ dot.taxationCardNumber }}</h5>
            <h5>0{{ dot.phoneNumber }}</h5>
        </div>

        <div *ngIf="!dot" fxLayout="column" fxFlex="30" fxLayoutAlign="start" fxLayoutGap="16px">
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
            <h5>?</h5>
        </div>
    </div>
</div>
