.auth-bg {
  /* background-color: #172740; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.authentication-box {
  width: auto;
  height: auto;
  opacity: 0.9;
  padding: 50px;
}

button:hover {
  color: black;
}

input::placeholder {
  font-size: 12px;
}

.card {
  background-color: #172740 !important;
}
