<div class="auth-bg">
  <div class="authentication-box">
    <div class="card" style="width: 500px;">
      <div class="text-center">
        <img src="assets/images/KG-ALL-logo.svg" />
      </div>
      <div class="card-body text-white">
        <div class="text-center">
          <h4>LOGIN</h4>
          <h6>Enter your Username and Password</h6>
        </div>
        <form class="mt-5" [formGroup]="loginForm" *ngIf="!newUser">
          <div class="form-group">
            <input
              class="form-control rounded border"
              formControlName="userName"
              required
              placeholder="Username"
            />
            <div
              *ngIf="
                loginForm.controls.userName.touched &&
                loginForm.controls.userName.errors?.required
              "
              class="text text-danger mt-1"
            >
              Username is required
            </div>
          </div>
          <div class="form-group">
            <show-hide-password btnStyle="primary" [btnOutline]="false">
              <input
                class="form-control rounded border"
                type="password"
                formControlName="password"
                required=""
                placeholder="password"
              />
            </show-hide-password>
            <div
              *ngIf="
                loginForm.controls.password.touched &&
                loginForm.controls.password.errors?.required
              "
              class="text text-danger mt-1"
            >
              Password is required
            </div>
          </div>
          <div class="form-group form-row row mt-4 mb-0">
            <div class="col text-center">
              <button
                class="btn btn-primary"
                [disabled]="!loginForm.valid"
                (click)="login(loginForm.value)"
                type="submit"
              >
                <span>{{ authService.showLoader ? "" : "Login" }}</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
