<div class="mb-3" *ngIf="isFetching || isUploading">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<form [formGroup]="docForm">
    <div fxLayout="column">
        <h3>Upload document</h3>
        <div class="mt-2" fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48">
                <div fxLayout="row" fxLayoutGap="20px">
                    <div>
                        <h5 class="pb-2">Input PDF</h5>
                        <div>
                            <app-uploader
                                idInput="other_doc"
                                [isUploading]="false"
                                [allowedContentTypes]="['application/pdf']"
                                (hasCompleted)="uploadedCompleted($event)"
                                (loading)="onLoading($event)">
                            </app-uploader>
                        </div>
                    </div>
                    <div *ngIf="docUrl">
                        <pdf-viewer
                            [src]="docUrl"
                            [fit-to-page]="false"
                            [show-all]="false"
                            [original-size]="false"
                            [autoresize]="true" 
                            [show-borders]="true"
                            (after-load-complete)="loadToPdfViewerCompleted()"
                            style="display: block;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Document title
                        </mat-label>
                        <input [attr.disabled]="isFetching" formControlName="title" matInput>
                    </mat-form-field>
                </p><p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label>
                                Document title in khmer
                            </label>
                        </mat-label>
                        <input [attr.disabled]="isFetching" matInput formControlName="titleInKhmer">
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div class="mt-4" fxFlex fxLayoutAlign="end">
            <button class="mr-2" [disabled]="isFetching" mat-raised-button (click)="cancel()">
                Cancel
            </button>
            <button [disabled]="docForm.invalid || isFetching || isUploading" color="primary" mat-raised-button (click)="save()">
                Save
            </button>
        </div>
    </div>
</form>
