<div class="mb-3" *ngIf="isFetching">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div class="container h-100-p" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <h4 class="text-center">Are you sure about this?</h4>
        <h5 *ngIf="content">{{content}}</h5>
        <div class="mat-card-content" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="20px">
            <button [disabled]="isFetching" color="warn" mat-raised-button (click)="confirmRemove()">
                Yes
            </button>
            <button [disabled]="isFetching" color="primary" mat-raised-button (click)="cancelRemove()">
                Cancel
            </button>
        </div>
</div>
