<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <h4 class="pb-3 m-t-5 text-khmer-bold">ពត័មានអ្នកគ្រប់គ្រង</h4>
    <div fxLayout="row" fxLayoutAlign="start">
        <h6 fxFlex="15">ឈ្មោះពេញ :</h6>
        <h5>{{ user.fullName }}</h5>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
        <h6 fxFlex="15">ឈ្មោះប្រើប្រាស់ :</h6>
        <h5>{{ user.userName }}</h5>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
        <h6 fxFlex="15">លេខទូរសព្ទ :</h6>
        <h5>0{{ user.phoneNumber }}</h5>
    </div>
</div>
