<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <h3 class="pb-3 m-t-5 text-khmer-bold">Company Contact</h3>
    <div fxLayout="row" fxLayoutAlign="start">
        <h6 fxFlex="15">Manager fullname :</h6>
        <h5>{{ user.fullName }}</h5>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
        <h6 fxFlex="15">Phonenumber :</h6>
        <h5>0{{ user.phoneNumber }}</h5>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
        <h6 fxFlex="15">Username login :</h6>
        <h5>{{ user.userName }}</h5>
    </div>
</div>
