<div *ngIf="isFetching">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div *ngIf="!isFetching" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="20px">
    <div>
        <mat-card (click)="registerCompany()" class="add-card cursor-pointer" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <img src="assets/images/add-icon.svg" alt="add icon">
            </div>
            <h3 class="btn-title">Register company</h3>
        </mat-card>
    </div>

    <div *ngFor="let company of companys">
        <company-card *ngIf="company.user" (edit)="editCompany($event)" [company]="company" [user]="company.user"></company-card>
    </div>
</div>
