.add-card {
    width: 350px;
    height: 260px;
    background-color: #172740;

    .btn-title {
        color: #3069bb;
    }

    // mat-card-header {
    //     background-color: #3069bb;
    //     min-height: 76px;
    // }

    // mat-card-content {
    //     background-color: #172740;
    // }
}

// .custom-dialog-container .mat-dialog-container {
//     /* add your styles */
//     padding: 0 !important;
// }
