<mat-card class="company-card cursor-pointer" fxLayout="column" fxLayoutAlign="start none">
        <div class="mat-card-header p-b-5" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxFlex fxLayoutAlign="start">
                <h5 class="khmer-title text-bold">{{ company.nameInKhmer }}</h5>
                <h5 class="text-bold m-0">{{ company.name }}</h5>
            </div>
            <div fxLayout="column" fxFlex="10" fxFlex fxLayoutAlign="end end">
                <mat-icon (click)="deleteCompany($event)" class="delete-icon">delete</mat-icon>
                <mat-icon (click)="editCompany($event)" class="edit-icon">edit</mat-icon>
            </div>
        </div>

        <mat-card-content>
            <div *ngIf="user" class="text-white" fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="10px">
                <h5 class="text-center text-bold mb-4">Manager</h5>
                <div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="20px">
                    <h6>Fullname :</h6>
                    <h6 class="text-right">{{ user.fullName }}</h6>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between end">
                    <h6>Username:</h6>
                    <h6>{{ user.userName }}</h6>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between end">
                    <h6>Phonenumber:</h6>
                    <h6>0{{ user.phoneNumber }}</h6>
                </div>
            </div>
        </mat-card-content>
</mat-card>
