.company-card {
    min-width: 350px;
    min-height: 260px;
    background-color: #172740;

    mat-card-header {
        background-color: #3069bb;
        min-height: 76px;
    }

    // mat-card-content {
    //     background-color: #172740;
    // }
}
