<div class="mb-3" *ngIf="isFetching">
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<form [formGroup]="dotForm">
    <div fxLayout="column">
        <div class="mt-2" fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label class="mt-1">
                                Fiscal identification Number
                            </label>
                        </mat-label>
                        <input formControlName="dotNumber" type="text" matInput required>
                    </mat-form-field>
                </p>
            </div>
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label class="mt-1">
                                Registration date
                            </label>
                        </mat-label>
                        <input matInput formControlName="notedDate" type="date" required>
                    </mat-form-field>
                </p>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label class="mt-1">
                                Registration at
                            </label>
                        </mat-label>
                        <input matInput formControlName="notedAtBranch" type="text" required>
                    </mat-form-field>
                </p>
            </div>
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label class="mt-1">
                                address
                            </label>
                        </mat-label>
                        <input formControlName="address" type="text" matInput required>
                    </mat-form-field>
                </p>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label>
                                Bank name
                            </label>
                        </mat-label>
                        <input matInput formControlName="bankName" type="text" required>
                    </mat-form-field>
                </p>
            </div>
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label>
                                Bank account name
                            </label>
                        </mat-label>
                        <input matInput formControlName="bankAccountName" type="text" required>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label>
                                Bank account number
                            </label>
                        </mat-label>
                        <input matInput formControlName="bankAccountNumber" pattern="[0-9]*" type="text" required>
                    </mat-form-field>
                </p>
            </div>
            <div fxFlex="48">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label>
                                GDT card number
                            </label>
                        </mat-label>
                        <input matInput formControlName="taxationCardNumber" type="text" required>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="100">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>
                            <label class="mt-1">
                                Phonenumber
                            </label>
                        </mat-label>
                        <input matInput formControlName="phoneNumber" type="tel" minlength="9" required>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex fxLayoutAlign="end">
                <button class="mr-2" [disabled]="isFetching" mat-raised-button (click)="cancel()">
                    Cancel
                </button>
                <button *ngIf="!dot" [disabled]="dotForm.invalid || isFetching" color="primary" mat-raised-button (click)="save()">
                    Save
                </button>
                <button *ngIf="dot" [disabled]="dotForm.invalid || isFetching" color="primary" mat-raised-button (click)="update()">
                    Update
                </button>
            </div>
        </div>
    </div>
</form>
