a {
    font-size: 12px;
}

pdf-viewer {
    // display: block;
    height: 285px;
    width: 210px;
}

::ng-deep .pdfViewer .page .textLayer {
    border: 1px solid;
}

.display-none {
    display: none;
}

.w-210 {
    width: 210px;
}
