<label class="upload-button cursor-pointer">
  <input type="file"
     accept="{{allowedContentTypes}}"
     class="file-input"
     ngFileSelect
     [options]="options"
     (uploadOutput)="onUploadOutput($event)"
     [uploadInput]="uploadInput">
  <div class="drop-container"
    ngFileDrop
    [options]="options"
    (uploadOutput)="onUploadOutput($event)"
    [uploadInput]="uploadInput"
    [ngClass]="{ 'is-drop-over': dragOver }">
    <h5>Drag &amp; Drop</h5>
    <!-- <span class="text-small">PDF file</span> -->
    <!-- <div *ngIf="isLoading" class="spinner-wrapper">
      <i class="fa fa-spin fa-cog"></i>
    </div> -->
    <div *ngIf="isLoading">
      <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  </div>
</label>
